[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
main = "python main.py"
status = "python scripts/tx_status.py"

[packages]
pyaml-env = "*"
rich = "*"
requests = "*"
eth-event = "*"
web3 = {path = "./web3.py"}
uniswapv2-bot = {editable = true, path = "."}
vyper = "0.3.7"
websocket-client = "*"

[dev-packages]
black = "*"
pytest-cov = "*"
mypy = "*"
py-solc-x = "*"
tqdm = "*"

[requires]
python_version = "3.10"
