[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
main = "python main.py"
make = "python scripts/make_stats.py"
read =  "python scripts/read_stats.py"
stats = "python scripts/stats.py"
withdraw_swap = "python scripts/withdraw_swap.py"
rewrap = "python scripts/rewrap.py"
create_burners = "python scripts/create_burners.py"
send = "python scripts/send.py"
get_burners = "python scripts/get_burners.py"

[packages]
pyaml-env = "*"
rich = "*"
requests = "*"
eth-event = "*"
web3 = {path = "./web3.py"}
uniswapv2-bot = {editable = true, path = "."}
vyper = "0.3.7"
websocket-client = "*"

[dev-packages]
black = "*"
pytest-cov = "*"
mypy = "*"
py-solc-x = "*"
tqdm = "*"

[requires]
python_version = "3.10"
